node_modules/

# Playwright
**/node_modules/
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# Reports
allure-results/
**/bdd-tests/reports/
**/cucumber-report.html
**/cucumber-report.json

# OS
.DS_Store
**/.DS_Store

